@CHARSET "UTF-8";
#changeLang{cursor: pointer;}
.indent{
	text-indent:24px;
	width:800px;
}
.indent span{
	font-weight: bold;
}
.indent font{
	color:red;
}

font{	
	font-size:12px;
}
.tips-attention{
	padding:0;
}