@CHARSET "UTF-8";
#changeLang{cursor: pointer;}
.indent{
	text-indent:24px;
	width:800px;
}
.indent span{
	font-weight: bold;
}
.indent font{
	color:red;
}

.content font.remark{
	color:#474747;
	font-family:"黑体";
	font-weight:bold;
}

font{
	font-size:12px;
}

.tips-attention{
	padding:0;
}

.tips table td{
	vertical-align:top;
}

.content ul li strong{
	width:160px;
}

.operate a.save{
	float:none;
	margin:0 auto;
}

.tips{
	padding: 10px 0px 5px;
}

.remark_en{
	font-family:黑体;	
}

.tips table{
	font-family:"黑体";
}
.showMessage{
	padding-left:0px;
}

.operate-message {
float: right;
padding-right: 10px;
}
.operate-message a {
float: left;
color: #fff;
text-decoration: underline;
margin: 0 10px;
}

.operate a.confirm {
display: block;
float:none;
margin: 0 auto;
width: 75px;
height: 28px;
line-height: 28px;
background: url(../images/button_save.png) no-repeat;
color: #fff;
}

#iframe{
	display:none;
	_display:block;
	position:absolute;
	top:0;
	left:0px;
	z-index:-1;
	filter:mask();
	width:220px;
	height:186px;
}
