@CHARSET "UTF-8";
#changeLang{cursor: pointer;}
.indent{
	text-indent:24px;
	width:800px;
}
.indent span{
	font-weight: bold;
}
.indent font{
	color:red;
}

font{
	font-size:12px;
}
.tips-attention{
	padding:0;
}

.tips table td{
	vertical-align:top;
}

.content ul li strong{
	width:160px;
}

.operate a.save{
	float:none;
	margin:0 auto;
}

.tips{
	padding: 10px 15px 5px;
}
.showMessage{
	padding-left:0px;
}
