.content { clear:both; display:block; background:#8f1309; padding:50px 0; margin-bottom:30px; zoom:1; overflow:hidden;}
.content-box { clear:both; width:960px; margin:0 auto;}
.userlogin {width:346px; float:right;background:#edcdcd; border-radius:2px; padding:15px 15px 40px 15px; } 
.userlogin h4 { font-size:18px; font-weight:normal; border-bottom:1px solid #cb8986; padding-bottom:10px;} 
.userlogin h4 img { margin-right:5px;}
.userlogin ul { clear:both; margin:0; padding:20px 0;}
.userlogin ul li { list-style:none; clear:both; display:block; font-size:16px; }
.userlogin ul li span { float:left; padding:5px 10px 0 0;}
.userlogin ul li .input-login { float:left; width:265px; border:1px solid #736c6c; height:25px; line-height:25px; padding:0 3px;}
.userlogin ul li font { padding-left:60px; font-size:12px; line-height:18px; display:block; float:left; padding-bottom:10px;}
.userlogin ul li .input-login-code  { float:left; width:175px; border:1px solid #736c6c; height:25px; line-height:25px; padding:0 3px; margin-right:10px;}

.userlogin ul li.operate-login { clear:both; padding:18px 0 0 60px;}
.userlogin ul li.operate-login a { width:100px; height:31px; display:block; float:left; background:url(/web/images/button_login.png) no-repeat; text-align:center; color:#fff; line-height:31px; font-size:14px;}
