/* CSS Document */
* { 
margin: 0px; 
padding: 0px; 
}
A {blr:expression(this.onFocus=this.close());}
A {blr:expression(this.onFocus=this.blur());} 
A:focus{outline:0;}
input,button,select,textarea{ outline:none;}
textarea{ font-size:13px; resize:none;}

body {
    margin:0;
	padding:0;
	font-size:12px;
	color:#333;
	font-family: Verdana, Arial,  Helvetica, sans-serif;
}
img { border:0}

A:link {
	COLOR: #333; TEXT-DECORATION: none;
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none;
}
A:hover {
	COLOR: #333; TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: none
}

ul { zoom:1}
li { list-style:none}
.left { float:left}
.right { float:right}

.top {width:960px; margin:0 auto; padding:20px 10px 15px; display:block; zoom:1; overflow:hidden;}
.top span { float:left;}
.top .server { float:right; padding-top:10px; line-height:26px;}
.top .server img { float:right;}
.top .server em { clear:both; font-style:normal; float:right;}
.top .server em font { color:#8f1309;}

.copyright { clear:both; display:block; line-height:20px; font-size:12px; text-align:center; padding-bottom:20px;}

.menu { width:1060px; margin:0 auto; background:url(../images/bg_menu.png) repeat-x; height:38px; border-radius:4px;}
.menu ul { margin:0; padding:0 0 0 10px;}
.menu ul li { list-style:none; float:left; display:block;}
.menu ul li a { color:#fff; height:35px; text-align:center; line-height:35px; font-size:14px; display:block; float:left; padding:0 8px; margin:1px 15px;}
.menu ul li a:hover {background:url(../images/bg_menu_hover.png) repeat-x;border-radius:2px;}
.menu ul li a img { margin-right:5px;}

.userMessage { clear:both; display:block; zoom:1; overflow:hidden; width:900px; margin:0 auto; padding:10px 0 20px;}
.userMessage span { float:left; margin-right:15px;}
.userMessage font { float:right; font-size:12px;}
.userMessage font a { font-style:normal; margin-left:20px;}
