/* CSS Document */
#messageManage li a.messageManage {background:url(../images/bg_menu_hover.png) repeat-x;border-radius:2px;}

.operate-message { float:right; padding-right:10px;}
.operate-message a { float:left; color:#fff; text-decoration:underline; margin:0 10px;}

