/* CSS Document */
#registMessage li a.registMessage { color:#fff; background:url(../images/bg_menu_hover.png) repeat-x; height:35px; border-radius:2px; text-align:center; line-height:35px; font-size:16px; display:block; float:left; padding:0 25px; margin:1px 14px;}

#con {
	margin: 20px auto; width: 860px
}
#tags {
 margin-left:20px;  padding:0; height:33px; 
}
#tags LI {
	 FLOAT: left; list-style:none; height:33px; text-align:center; line-height:33px; font-size:14px;
	 }
#tags LI A { width:112px; float: left; display:block; COLOR: #999; height:34px; text-decoration:none; 
} /*未选中*/
#tags LI.emptyTag {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 4px
}
#tags LI.selectTag { height:33px;display:none;
}
#tags LI.selectTag A {
	color: #8f1309; height: 34px; background:#f2f2f2; border:1px solid #e5e5e5; border-radius:2px; border-bottom:0;
} /*选中*/
#tagContent { border:1px solid #e5e5e5;
}
.tagContent { padding:15px 10px; display: none; background: #f2f2f2; color: #474747; border-radius:2px; 
}
#tagContent DIV.selectTag { display: block}

.content-regist { background:#fff; border-radius:4px; display:block; zoom:1; overflow:hidden; border:1px solid #b3b3b3; margin-bottom:20px;}
.content-regist h4 { display:block; background:url(../images/bg_content_title.png) repeat-x; height:34px; line-height:34px; color:#fff; padding-left:20px; font-weight:normal; font-size:14px;}

.content { clear:both; display:block; padding:30px 100px;}
.content span { display:block; line-height:22px; font-size:14px; padding-bottom:20px; zoom:1; overflow:hidden;}
.content font { color:#b91414; display:block; clear:both; padding-bottom:15px;}

.content ul { margin:0; padding-bottom:20px; display:block; zoom:1; overflow:hidden;}
.content ul li { list-style:none; clear:both; display:block; line-height:30px; padding:4px 0;}
.content ul li strong { float:left; font-weight:normal; width:80px; text-align:right; padding-right:6px;}
.content ul li select { float:left; margin-top:5px;}
.content ul li em, .content ol li em { float:left; font-style:normal; padding:0 10px;}

.input-regist { border:1px solid #cfcfcf; width:270px; height:24px; line-height:24px; padding-left:4px; float:left;}
.input-eat {display:none; border:1px solid #cfcfcf; width:170px; margin-left:10px; height:24px; line-height:24px; padding-left:4px; float:left;}

.content ol { margin:0; padding:0; display:block; zoom:1; overflow:hidden;}
.content ol li { list-style:none; clear:both; display:block; line-height:30px; padding:4px 0;}
.content ol li strong { float:left; font-weight:normal; width:160px; text-align:right; padding-right:6px;}
.content ol li select { float:left; margin-top:5px;}
.content ol li a { text-decoration:underline; margin-left:15px; color:#95150b}

.tips { clear:both; display:block; zoom:1; overflow:hidden; padding:15px 15px 25px; line-height:22px;}
.tips font { clear:both; display:block; float:left; margin:0; padding:0; color:#333;}

.operate { clear:both; padding:0 140px; display:block; zoom:1; overflow:hidden}
.operate a { display:block; float:left; margin-right:20px; text-align:center; } 
.operate a.save { display:block; float:left; margin-right:20px; width:75px; height:28px; line-height:28px; background:url(../images/button_save.png) no-repeat; color:#fff;}   
.operate a.edit { display:block; float:left; margin-right:20px; width:77px; height:29px; line-height:29px; background:url(../images/button_edit.png) no-repeat; color:#333;}   

.input-other { border:1px solid #cfcfcf; width:228px; height:24px; line-height:24px; padding-left:4px;}

.showMessage { clear:both; display:block; padding:0 0 20px 15px; zoom:1; overflow:hidden}
.showMessage li { list-style:none; clear:both; display:block; line-height:30px; padding:4px 0;}
.showMessage li strong { float:left; font-weight:normal; width:140px; text-align:right; padding-right:6px;}
.showMessage li select { float:left; margin-top:5px;}
.showMessage li a { text-decoration:underline; margin-left:15px; color:#95150b}
.showMessage li em { float:left; font-style:normal; padding:0 10px;}

.tips-attention { clear:both; display:block; font-size:12px; zoom:1; overflow:hidden; padding:0 50px 20px 100px;}
.tips-attention font { display:block; clear:both; font-size:12px;  color:#333;}
