#schedule li a.schedule { color:#fff; background:url(../images/bg_menu_hover.png) repeat-x; height:35px; border-radius:2px; text-align:center; line-height:35px; font-size:16px; display:block; float:left; padding:0 25px; margin:1px 14px;}

.content { width:676px; margin:0 auto; padding-bottom:30px; display:block; zoom:1; overflow:hidden ;}
.content-box {width:325px;height:180px; margin:0 auto; border-radius:4px; border:1px solid #b3b3b3; display:block; zoom:1; overflow:hidden;}
.content-box h4, .content-agenda h4 { font-size:14px; display:block; height:34px; line-height:34px; background:url(../images/bg_content_title.png) repeat-x; color:#fff; text-align:center;}
.content-box ul { margin:0; padding:15px 30px 25px 20px;}
.content-box ul li { list-style:none; display:block; clear:both; line-height:22px;}
.content-box span { height:96px; text-align:center; line-height:22px; padding-top:50px; display:block;}

.content-agenda { clear:both; margin:20px 0; width:674px; border-radius:4px; border:1px solid #b3b3b3;  display:block; zoom:1; overflow:hidden;}

.table th, .table td { font-weight:normal; font-size:12px;border-bottom:1px solid #B3B3B3;border-right:1px solid #B3B3B3;}
.table td { text-align:center; background:#FFF; line-height:40px;}
.table td.grey { background:#D6D8D8}
.table th { font-size:12px; background:#FFF; font-weight:bold; line-height:32px;}

.table .noborderR {
	border-right:none;
}

.table .noborderB {
	border-bottom:none;
}

.content-agenda ul { margin:0; padding:20px;}
.content-agenda ul li { list-style:none; display:block; clear:both; line-height:22px;}


