/* CSS Document */
#travel li a.travel {background:url(../images/bg_menu_hover.png) repeat-x; border-radius:2px;}

.content { width:860px; margin:20px auto; padding-bottom:30px; display:block; zoom:1; overflow:hidden; border-radius:4px; display:block; border:1px solid #b3b3b3}
.content h4 { font-size:14px; display:block; height:34px; line-height:34px; background:url(../images/bg_content_title.png) repeat-x; color:#fff; text-align:center;}
.content h5 { font-size:14px; display:block; height:34px; line-height:34px; background:url(../images/bg_content_title.png) repeat-x; color:#fff; border-radius:20px; margin:20px; padding-left:20px; zoom:1; overflow:hidden;}

.content-travel { clear:both; display:block; margin:0 60px; overflow:hidden; line-height:24px; font-size:12px;}
.content-travel span { display:block; clear:both; text-indent:24px;}
