<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richmobi.checkin.persistence.UserMapper">

	<resultMap type="user" id="userMap">
		<id property="id" column="id"/>
		<collection property="traffic" column="id" select="com.richmobi.checkin.persistence.TrafficMapper.getByUid"></collection>
		<collection property="hotel" column="id" select="com.richmobi.checkin.persistence.HotelMapper.getByUid"></collection>
		<collection property="other" column="id" select="com.richmobi.checkin.persistence.OtherMapper.getByUid"></collection>
	</resultMap>
	<sql id="select_user_sql_segment">
		SELECT
			id, u_id as uid, name, sex, size, color, birth_date as birthDate, nationality, 
			company, title, certificate,mobile_phone as mobilePhone, telephone, email, diet, 
			contact_name as contactName, contact_phone as contactPhone, contact_email as contactEmail
		FROM
			t_user_info
	</sql>
	
	<insert id="add" parameterType="user">
		<selectKey resultType="long" keyProperty="id">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO 
			t_user_info
			(
				u_id, name, sex, size, color, birth_date, nationality, 
				company, title, certificate,mobile_phone, telephone, email, diet,
				contact_name, contact_phone, contact_email
			)
		VALUES
			(
				#{uid},#{name},#{sex},#{size},#{color},#{birthDate},
				#{nationality},#{company},#{title},#{certificate},#{mobilePhone}
				,#{telephone},#{email},#{diet},#{contactName},#{contactPhone},#{contactEmail}
			)
	</insert>
	
	<select id="getById" parameterType="long" resultMap="userMap">
		<include refid="select_user_sql_segment"/>
		WHERE
		id = #{id}
	</select>
	
	<select id="getByUid" parameterType="long" resultMap="userMap">
		<include refid="select_user_sql_segment"/>
		WHERE
		u_id = #{uid}
	</select>
	
	<update id="update" parameterType="user">
		UPDATE 
			t_user_info
		SET
			name = #{name}, sex = #{sex}, size = #{size}, color = #{color}, 
			birth_date = #{birthDate}, nationality = #{nationality}, 
			company = #{company}, title = #{title}, certificate = #{certificate},
			mobile_phone = #{mobilePhone}, telephone = #{telephone}, email = #{email}, diet = #{diet},
			contact_name = #{contactName}, contact_phone = #{contactPhone}, contact_email = #{contactEmail}
		WHERE
			id = #{id}
	</update>
	
	<delete id="delete" parameterType="long">
		DELETE FROM 
			t_user_info
		WHERE 
			id = #{id}
	</delete>
	
</mapper>