<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>邮件</title>
<style>
 body { margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; background:#fbf8f7}
 img { float:left;}
 .content { font-size: 12px;width:585px; margin:0 auto; padding:10px 0; border-bottom:1px dashed #7D7C7B; clear:both; zoom:1; overflow:hidden}
 .content table { font-size: 12px;}
 .left { width:200px; float:left; line-height:22px;}
 .left span { text-indent:22px; display:block}
 .rm_center {width:204px; height:148px; float:left; border:1px solid #BBBABA; margin:6px 15px 0 15px; padding:8px; line-height:22px;}
 .rm_center table{
 	font-size:12px;
 }
 .rm_center div {
 	width: 100%;
 }
 .right { text-align:center; float:left}
 .right span { clear:both; float:left; width:85px; text-align:center}
 .right img { margin:20px 0}
 td {
	line-height:22px;
	font-weight: bold;
}
 li { list-style:none}
</style>
</head>

<body style="margin:0; padding:0; font-family:"微软雅黑"; font-size:12px; background:#fbf8f7">
<div style="width:595px; margin:0 auto;"><img style="float:left;" src="$domain/images/email/banner.jpg" /></div>
<div class="content" style="font-size: 12px;width:585px; margin:0 auto; padding:10px 0; border-bottom:1px dashed #7D7C7B; clear:both; zoom:1; overflow:hidden">
	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
	  <tr>
	    <td  style="font-weight:normal">
	    	<div class="left" style=" width:200px; float:left; line-height:22px;">尊敬的$name先生/女士：<br />
	       		<span style="text-indent:22px; display:block">恭喜您，已经成功购买北京国际婚礼时尚周门票！“北京国际婚礼时尚周”作为中国婚礼专业人士的第一品牌盛会，将于2013年12月10日至15日期间在中国首都北京举行，北京国际婚礼时尚周组委会诚挚邀请您的到来，右侧是您的入场门票。届时请大家务必携带最新发送的二维码到场，领取通行证，谢谢您对爱度网的全力支持！</span>
	    	</div>
	    </td>
	    <td  style="font-weight:normal">
	    	<div class="rm_center" style="width:204px; height:148px; float:left; border:1px solid #BBBABA; margin:6px 15px 0 15px; padding:8px; line-height:22px;">
	    		<div style="width: 100%;">
			  		<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;">
			  			<tr>
			  				<td width="90px;" style="font-weight:normal;">姓名</td>
			  				<td width="112px;" style="font-weight:normal;">票项</td>
			  			</tr>
			  		</table>
			  	</div>
			  	<div style="width: 100%;height:126px;overflow-y:auto;">
				  	<table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size:12px;">
						#foreach( $u in $users )
							#if($u.userType)
								<tr>
									<td width="90px;" style="font-weight:normal;">$u.name</td>
									<td width="112px;" style="font-weight:normal;">$u.userType.typeName</td>
								</tr>
							#end
						#end
					</table>
				</div>
	    	</div>
	    </td>
	    <td style="font-weight:normal">
	    	<div class="right" style="text-align:center; float:left">
	    		<span style="clear:both; float:left; width:85px; text-align:center;">
	    			<img style="float:left;margin:20px 0;" src="$domain/$qrFolder/$imageName" width="85" height="84" />
	    		</span>
	    		<span style="clear:both; float:left; width:85px; text-align:center;">二维码</span>
	    	</div>
	    </td>
	  </tr>
	</table>
</div>
<div class="content" style="font-size: 12px;width:585px; margin:0 auto; padding:10px 0; border-bottom:1px dashed #7D7C7B; clear:both; zoom:1; overflow:hidden">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
  <tr>
    <td>时间：12月10日-12月15日</td>
    <td>地点：待定</td>
    <td></td>
  </tr>
  <tr>
    <td>联系人：王宇、杨博显</td>
    <td>电话：40088-12589</td>
    <td>邮箱：<a href="mailto:hsz@idoido.cn">hsz@idoido.cn</a></td>
  </tr>
  <tr>
    <td colspan="2">新浪官方微博：<a href="http://e.weibo.com/weddingweek">@国际婚尚周官网</a></td>
    <td>大会官网：<a href="http://hsz.idoido.cn">http://hsz.idoido.cn</a></td>
  </tr>
  <tr>
    <td colspan="2">微信公众平台：wedding week</td>
    <td>&nbsp;</td>
  </tr>
</table>
</div>
<div class="content" style="line-height:22px;font-size: 12px;width:585px; margin:0 auto; padding:10px 0; border-bottom:1px dashed #7D7C7B; clear:both; zoom:1; overflow:hidden">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
	  <tr>
	    <td>注意事项</td>
	    <td>&nbsp;</td>
	  </tr>
	  <tr>
	    <td valign="top">1、参会证领取：</td>
	    <td><span style="float:left; width:448px; font-weight: normal;">为了让您有一个非常愉快的参会经历，我们强烈建议您将该邮件打印或者保存手机短信中的二维码于组委会指定地点领取您的胸牌。</span></td>
	  </tr>
	  <tr>
	    <td colspan="2" style="text-indent:24px; font-weight: normal;">签到中心开放时间：12月10日 - 12月15日 7:00 - 21:00</td>
	  </tr>
	  <tr>
	    <td colspan="2" style="text-indent:24px; font-weight: normal;">签到地点：待定</td>
	  </tr>
	</table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font-size: 12px;">
	  <tr>
	    <td valign="top">2、领取参会证您必须携带：</td>
	  </tr>
	  <tr>
	    <td style="text-indent:24px; font-weight: normal;">o带二维码的手机短信或电子邮件打印版 </td>
	  </tr>
	  <tr>
	    <td style="text-indent:24px; font-weight: normal;">o短信主题为"北京国际婚礼时尚周购票成功"</td>
	  </tr>
	  <tr>
	    <td style="font-weight:normal; text-indent:24px">o邮件主题为"2013北京国际婚礼时尚周"</td>
	  </tr>
	  <tr>
	    <td style="font-weight:normal; text-indent:24px">o居民身份证</td>
	  </tr>
	</table>
</div>
<div style="width:585px; margin:0 auto; padding:10px 0; height:90px; font-size: 12px;">
	<table width="100%">
		<tr>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
			<td width="5%"></td>
		</tr>
		<tr>
			<td style="font-weight: normal;font-size:12px;" colspan="7">Preston Bailey Designs</td>
			<td style="font-weight: normal;font-size:12px;" colspan="3">万宏花塾</td>
			<td style="font-weight: normal;font-size:12px;" colspan="5">李欣芸婚礼学院</td>
			<td style="font-weight: normal;font-size:12px;" colspan="5">梦田婚礼灯光创意</td>
		</tr>
		<tr>
			<td style="font-weight: normal;font-size:12px;" colspan="5">DNAWedding婚礼记</td>
			<td style="font-weight: normal;font-size:12px;" colspan="4">摩卡婚礼</td>
			<td style="font-weight: normal;font-size:12px;" colspan="5">BEARFETE高端定制</td>
			<td style="font-weight: normal;font-size:12px;" colspan="5">克莉丝汀国际策划</td>
		</tr>
		<tr>
			<td style="font-weight: normal;font-size:12px;" colspan="7">爱派标准婚礼主持人团队</td>
			<td style="font-weight: normal;font-size:12px;" colspan="6">葛澜婚纱礼服专业定制</td>
			<td style="font-weight: normal;font-size:12px;" colspan="7">Specia婚礼电影工作室</td>
		</tr>
		<tr>
			<td style="font-weight: normal;font-size:12px;" colspan="6">LIKE FILM婚礼电影工作室</td>
			<td style="font-weight: normal;font-size:12px;" colspan="4">智领无限</td>
		</tr>
		<tr>
			<td colspan="30" style="padding: 10px 0px;">
				<img src="$domain/images/email/bottom.jpg" width="100%">
			</td>
		</tr>
	</table>
</div>
</body>
</html>